.imgMemo {
  width: 100%;
  height: 100%;
}
.img {
  display: flex;
  width: 100%;
  height: 100%;
  font-size: 60px;
  text-align: center;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 10px;
  grid-template-areas:
    '. . . . .'
    '. . . . .'
    '. . . . .'
    '. . . . .';
}

.container3 {
  padding: 0;
  padding-right: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px;
  grid-template-areas:
    '. . . . '
    '. . . . '
    '. . . . ';
}
.puntosContainer {
  margin: 5px;
  text-align: center;
  display: flex;
  flex-direction: row;
}
.puntosContainer h3 {
  display: none;
}
.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.card {
  position: relative;
  list-style-type: none;
  width: 120px;
  height: 120px;
  cursor: pointer;
  padding: 5px;
}
.card2 {
  position: relative;
  list-style-type: none;
  width: 120px;
  height: 120px;
  cursor: pointer;
  padding: 5px;
}

.card .face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  overflow: hidden;
  transition: 0.4s;
  background-color: var(--backcolor);
}

.card2 .face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  overflow: hidden;
  transition: 0.4s;
}

.card .front {
  transform: perspective(600px) rotateY(180deg);
}

.card .back {
  transform: perspective(600px) rotateY(0deg);
}

.card2 .front {
  transform: perspective(600px) rotateY(360deg);
}

.card2 .back {
  transform: perspective(600px) rotateY(180deg);
}

.front h3 {
  font-size: 16px;
  position: absolute;
  bottom: 0;
  width: 100%;
  line-height: 25px;
  color: #fff;
  background: rgba(0, 0, 0, 0.4);
  text-align: center;
}

.modalOscuro {
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 2;
}
.modal {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 60%;
  height: min-content;
  background-color: var(--backcolor);
  border-radius: 15px;
  border: solid 1px var(--bordercolor);
  margin: 10px;
  z-index: 3;
}
.modalWin {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 40%;
  height: min-content;
  margin: 10px;
  background-color: #242424;
  border-radius: 15px;
  border: solid 1px #666;
  z-index: 3;
}
.modalContainer {
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.modal h2 {
  font-size: 40px;
  color: rgb(72, 187, 72);
}
.modalNombre {
  border-bottom: solid 1px #666;
}

.modalInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 10px;
}
.modalInfo img {
  width: 250px;
  height: auto;
  border-radius: 14px;
}
.modalInfo p {
  margin: 20px;
  font-size: 25px;
}
.modalPts {
  position: absolute;
  top: 5px;
  left: 5px;
  color: rgb(248, 248, 98);
}
.modalBandera {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 100px;
  height: auto;
}
.modalBtn {
  font-size: 20px;
  margin: 10px;
}
.modalWinH1 {
  font-size: 60px;
  color: rgb(72, 187, 72);
}
@media screen and (max-width: 700px) {
  .container3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 15px;
    grid-template-areas:
      '. . . '
      '. . . '
      '. . . '
      '. . . ';
  }
  .puntosContainer h3 {
    display: inline-block;
    font-size: 25px;
    margin: 15px;
    height: 50px;
    width: 110px;
  }
  .card {
    width: 100px;
    height: 100px;
  }
  .card2 {
    width: 100px;
    height: 100px;
  }
  .container3 {
    gap: 6px;
  }
  .front h3 {
    font-size: 16px;
    line-height: 15px;
  }
  .modal {
    width: 95%;
    height: 95%;
  }
  .modalWin {
    width: 95%;
    height: auto;
  }
  .modalWinH1 {
    font-size: 60px;
    color: rgb(72, 187, 72);
  }
  .modal div h2 {
    font-size: 25px;
  }
  .modalNombre {
    font-size: 30px;
    border-bottom: solid 0px #666;
  }

  .modalInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 13px;
  }
  .modalInfo img {
    width: 230px;
    height: auto;
    border-radius: 14px;
  }
  .modalInfo p {
    margin: 10px;
    font-size: 23px;
    line-height: 25px;
  }
  .modalPts {
    position: absolute;
    top: 5px;
    left: 5px;
    color: rgb(248, 248, 98);
    font-size: 30px;
  }
  .modalBandera {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 80px;
    height: auto;
  }
  .modalBtn {
    font-size: 20px;
    padding: 5px;
  }
}
